<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="port" source="server.port"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <!-- %d{dd-MM-yyyy HH:mm:ss.SSS} %red([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n -->
                %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){red} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}
            </pattern>
        </encoder>
    </appender>


    <appender name="GELF_TCP" class="de.siegmar.logbackgelf.GelfTcpAppender">
        <graylogHost>localhost</graylogHost>
        <graylogPort>12201</graylogPort>

        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <originHost>event-consummer-${port}</originHost>
        </encoder>
    </appender>

    <appender name="ASYNC GELF" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="GELF_TCP" />
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC GELF"/>
    </root>

</configuration>